slice_name: FMR - AFS - MaxRows
viz_type: table
params:
  adhoc_filters: []
  align_pn: false
  all_columns: []
  color_pn: false
  datasource: 66__table
  granularity_sqla: transaction_date
  groupby: []
  include_search: false
  metrics:
  - aggregate: null
    column: null
    expressionType: SQL
    hasCustomLabel: true
    isNew: false
    label: Row Limit Alert
    optionName: metric_ei0crsabwdu_qxmw5qzi7h
    sqlExpression: "CASE WHEN COUNT(DISTINCT agt_id||'|'||ivh_id)-30000 > 0 \n   \
      \  THEN '<div class = \"limit-red\">The total number of rows this query returned\
      \ is: <STRONG>' || COUNT(DISTINCT agt_id||'|'||ivh_id) || '</STRONG>, exports\
      \ are limited to <STRONG>30,000</STRONG> rows. <br>Either filter the table to\
      \ a suitable length or contact the administrator if you wish to export more\
      \ than 30,000 rows</div>'\n     ELSE '<div class = \"limit-green\">All rows\
      \ returned by the query are displayed</div>' END"
  order_by_cols: []
  order_desc: false
  page_length: 0
  percent_metrics: []
  query_mode: aggregate
  row_limit: 10
  show_cell_bars: false
  slice_id: 281
  table_timestamp_format: smart_date
  time_grain_sqla: P1D
  time_range: No filter
  url_params: {}
  viz_type: table
cache_timeout: null
uuid: 1e3f8388-cd28-4c79-aa81-1b1c66bd01a3
version: 1.0.0
dataset_uuid: 29d8b276-e616-60d1-b49e-eb657f9cb0d3
