name: Manual Backup Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: 'Select the environment'
        required: True
        
jobs:

  backup:
    runs-on: self-hosted #[ self-hosted ]
    environment: ${{ inputs.environment }}
    
    steps:
      - name: superset Checkout
        uses: actions/checkout@v2
        with:
            ref: ${{github.ref_name}}
            fetch-depth: 0

      - name: Backup
        run: |
            git update-index --chmod=+x backup.sh
            ./pipeline_script_github/backup.sh
            
        env:
            ENV_NAME: ${{ inputs.environment }}
            ENV_HOST: ${{ secrets.ENV_HOST }}
            ENV_PASS: ${{ secrets.ENV_PASS }} 
            ENV_USER: ${{ secrets.ENV_USER }}
            COMMIT: ${GITHUB_SHA::7}

            
      - name: Upload backup artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.environment }}-${{github.sha}}
          path: "./pipeline_script_github/backup/${{ inputs.environment }}_backup_assets.zip"


  # deploy:
  #   runs-on: [ ubuntu-latest, self-hosted ]
  #   environment: ${{ inputs.environment }}
  #   needs: [backup]
    
  #   steps:
  #     - name: superset Checkout
  #       uses: actions/checkout@v2
  #       with:
  #           ref: ${{github.ref_name}}
  #           fetch-depth: 0

  #     - name: deploy
  #       run: |
  #           ./pipeline_script_github/deploy.sh
  #       env:
  #           ENV_NAME: ${{ inputs.environment }}
  #           CI_COMMIT_TAG: ${{github.ref_name}}
  #           ENV_HOST: ${{secrets.ENV_HOST}}
  #           ENV_PASS: ${{secrets.ENV_PASS}}  
  #           ENV_USER: ${{secrets.ENV_USER}}
