name: Manual Backup Deploy
run-name: Manual Backup Deploy-${{ github.ref_name }}-${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: environment
        description: 'Pick Environment to Promote'
        
jobs:
  backup:
    runs-on: [ self-hosted ]
    environment: ${{ inputs.environment }}
    
    steps:
      - name: superset Checkout
        uses: actions/checkout@v2
        with:
            ref: ${{github.ref_name}}
            fetch-depth: 0

      - name: Backup-${{ inputs.environment }}
        run: |
            chmod +x ./pipeline_script_github/backup.sh
            ./pipeline_script_github/backup.sh
            
        env:
            ENV_NAME: ${{ inputs.environment }}
            ENV_HOST: ${{ secrets.ENV_HOST }}
            ENV_PASS: ${{ secrets.ENV_PASS }} 
            ENV_USER: ${{ secrets.ENV_USER }}
            COMMIT: ${GITHUB_SHA::7}

            
      - name: Upload backup artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.environment }}-${{github.sha}}
          path: pipeline_script_github/backup/

      - uses: actions/cache/save@v3
        id: cache
        with:
          path: pipeline_script_github/backup/
          key: ${{ runner.os }}-${{ inputs.environment }}-${{github.sha}}


  deploy:
    runs-on: [ self-hosted ]
    environment: ${{ inputs.environment }}
    needs: [backup]
    
    steps:
      - name: superset Checkout
        uses: actions/checkout@v2
        with:
            ref: ${{github.ref_name}}
            fetch-depth: 0

      - name: deploy
        run: |
            zip -r assets_export.zip Superset_assets
            chmod +x ./pipeline_script_github/deploy.sh
            ./pipeline_script_github/deploy.sh
            
        env:
            ENV_NAME: ${{ inputs.environment }}
            ENV_HOST: ${{secrets.ENV_HOST}}
            ENV_PASS: ${{secrets.ENV_PASS}}  
            ENV_USER: ${{secrets.ENV_USER}}
            PROMOTE_ZIP_FILE: "assets_export.zip"
