name: Superset API

on: workflow_dispatch
jobs:
  my-job:
    runs-on: [ self-hosted ]
    steps:
      - uses: actions/checkout@v2
        
      - name: API-step
        run: 
           bash ./POC_Script/export_local.sh
           
      - name: Commit export
        run: |
          # git config --global user.name 'PichsineeA'
          # git config --global user.email 'happypich.mk@gmail.com'
          git add -A
          git commit -am "GitHubAction"
          git push
        
